<div class="row">
	<div class="container">
		<h2>Edit Category</h2>
		<form #f="ngForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="categoryName">Category Name</label>
				<input type="text" class="inputdetails" name="name" required [(ngModel)]="model.name" id="categoryName" placeholder="Name">
			</div>
			<div class="form-group">
				<label for="categoryDescription">Description</label>
				<textarea class="inputdetails" id="categoryDescription" name="description" required [(ngModel)]="model.description"
						  placeholder="Category Description"></textarea>
			</div>
				<div class="allbtn">
			<button class="btn" [routerLink]="['/category/list']" type="submit"><i class="fas fa-arrow-left"></i> Back To
				List</button>
			<button class="btn" type="submit" [disabled]="f.invalid">Edit <i class="fas fa-edit"></i></button>
		</div>
		</form>

	</div>
</div>