<div class="row">
	<div class="container">
		<h3>Add Product</h3>
		<form #f="ngForm" (ngSubmit)="onSubmit(f)">
			<div class="form-group">
				<label for="productName">Product Name</label>
				<input type="text" ngModel required
				 name="name" class="inputdetails" id="productName" placeholder="Name">
			</div>
			<div class="form-group">
				<label for="productDescription">Description</label>
				<textarea class="form-control" 
				ngModel name="description" class="inputdetails" id="productDescription"
						  placeholder="Product Description"></textarea>
			</div>
			<div class="form-row">
				<div class="form-group">
					<label for="productPrice">Price</label>
					<input type="text" name="price" 
					ngModel required class="inputdetails" id="productPrice" placeholder="Example: 000.00">
				</div>
				<div class="form-group">
					<label for="productQuantity">Quantity</label>
					<input type="number" name="quantity" 
					required ngModel class="inputdetails" id="productQuantity" placeholder="Example: 100">
				</div>
			</div>
			<div class="form-group">
				<label for="productImageUrl">Image Url</label>
				<input type="text" name="imageUrl" ngModel required class="inputdetails" id="productImageUrl"
				placeholder="Example: https://source.unsplash.com/1600x900/?product">
			</div>
			<div class="allbtn">
				<!-- <button class="btn" [routerLink]="['/admin/product-list']"><i class="fas fa-arrow-left"></i> Back To List</button> -->
				<button class="btn" type="submit" [disabled]="f.invalid">Add Product &nbsp; <i class="fas fa-plus"></i></button>
				</div>
	
		</form>

	</div>
</div>