<div class="container">
	<!-- <h1><a href="" target="blank">NGRXHome</a></h1> -->
	<!-- <p class="lead">Implement NGRX into Application</p>
	<hr>
	<p>Go look at all the awesome products on the shopping page.</p>
	<p class="lead">
		<a class="btn" href="" role="button" [routerLink]="['/shopping/products']">
			<span>Go Shopping <i class="fas fa-shopping-cart"></i></span>
		</a>
	</p> -->
	<!-- <app-header></app-header> -->
	<div class="text-box">
		<h1>Let's Beautiful. Be Colorful. and Be You</h1>
		<p>Beauty Is Whatever Brings Perfect</p>
	<a href="" class="hero-btn"  [routerLink]="['/shopping/products']">Go Shopping<i class="fas fa-shopping-cart"></i></a>
	</div>

</div>

<!-- <app-course-list></app-course-list> -->