<div class="row">
	<div class="container">
		<h3>Edit Product</h3>
		<form #f="ngForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="productName">Product Name</label>
				<input type="text"
				class="inputdetails"				
				 name="name" required 
				 [(ngModel)]="model.name" 
				 id="productName" 
				 placeholder="Name">
			</div>
			<div class="form-group">
				<label for="productDescription">Description</label>
				<textarea class="inputdetails" id="productDescription" name="description" required [(ngModel)]="model.description"
						  placeholder="Product Description"></textarea>
			</div>
			<div class="form-row">
				<div class="form-group">
					<label for="productPrice">Price</label>
					<input type="text" class="inputdetails" name="price" required [(ngModel)]="model.price" id="productPrice"
						   placeholder="Example: 000.00">
				</div>
				<div class="form-group">
					<label for="productQuantity">Quantity</label>
					<input type="number" class="inputdetails" name="quantity" required [(ngModel)]="model.quantity" id="productQuantity"
						   placeholder="Example: 100">
				</div>
			</div>
				<div class="form-group">
				<label for="productImageUrl">Image Url</label>
				<input type="text" class="inputdetails" id="productImageUrl" required name="imageUrl" [(ngModel)]="model.imageUrl"
					   placeholder="Example: https://source.unsplash.com/1600x900/?product">
			<div class="allbtn">			

			<button class="btn" [routerLink]="['/shopping/product-list']" type="submit"><i class="fas fa-arrow-left"></i> Back To
				List</button>
			<button class="btn" type="submit" [disabled]="f.invalid">Edit Product &nbsp;<i class="fas fa-edit"></i></button>
		</div>

		</div>

		</form>

	</div>
</div>