// .shopping-cart-link-container {
//   position: relative;
// }
// .shopping-cart-link-container span {
//   position: absolute;
//   top: 5px;
//   left: -8px;
// }
.shopingcaricon{
  text-align: justify;
  color:black;
  list-style-type: none;
  margin-left:800px;
  margin-top:-15px;
  font-size: 20px;

}
.nav{
  color:black;
  margin-top: 30px;
  list-style-type: none;
}
.badge{
  list-style-type: none;

}
